{% extends 'header.twig' %}

{% block title %}
Add/Edit Items
{% endblock %}

{% block navbar %}
{% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<div class="grid-body" style="padding-top: 60px;">
  <div class="container-fluid">
    <div class="row">
      <form id="barcode-scanner" enctype="multipart/form-data">
        <label for="barcode-upload">Scan Barcode:</label>
        <input id="barcode-upload" type="file">
        <button type="button" id="scan-barcode">Scan</button>
      </form>
    </div>
    <div class="row">
      <form id="form-image" enctype="multipart/form-data" method="post" action="{{ config.ROOT_BASE }}/api/items/add">
        <fieldset>
          <div class="col-sm-12 zero-padding">
            <div class="item-imgs-section">
              <div class="gridTitle">
                Upload item images here
              </div>
              <div class="container-fluid">
                <div class="grid">
                  <!-- need this for mosonry layout to work properly with bootstrap grid system -->
                  <div class="grid-sizer col-xs-4 col-sm-2"></div>
                  <div class="grid-item col-xs-4 col-sm-2 zero-padding">
                    <div class="form-group zero-padding">
                      <div data-mh="my-group" class="upload-pic">
                        <div class="img-box">
                          <i class="material-icons">add</i>
                        </div>
                      </div>
                      <input type="file" id="upload" multiple="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="options">
                <button type="button" id="deleteBtn" class="btn-delete">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <form id="main-form">
        <fieldset>
          <div class="col-sm-12 zero-padding">
            <div class="item-details-section">
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-md-8">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="form-control" name="itemname" id="name">
                  </div>
                  <div class="form-group col-md-4">
                    <label class="control-label" for="type">Type</label>
                    <select id="type" name="itemType" class="form-control">
                        {% for tag in tags.type %}
                          <option>{{ tag }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-xs-6 col-md-8">
                    <label class="control-label" for="type">Type</label>
                    <div>
                      <div class="checkbox">
                        {% for tag in tags.classification %}
                        <label class="col-xs-12 col-md-3">
                          <input class="dietary-req" type="checkbox"> {{ tag }}
                        </label>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-xs-6 col-md-4">
                    <label class="control-label" for="other-req">other</label>
                    <input type="text" class="form-control" id="other-req" name="otherreq">
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="control-label" for="state">State</label>
                    <select id="state" name="state" class="js-example-basic-multiple form-control" multiple="multiple" style="width: 100%;">
                        {% for tag in tags.state %}
                          <option>{{ tag }}</option>
                        {% endfor %}
                    </select>
                    <div class="form-group">
                      <label class="control-label" for="other-state">other</label>
                      <input type="text" class="form-control" id="other-state" name="otherstate">
                    </div>
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="control-label" for="content">May conatins</label>
                    <select id="content" name="content" class="js-example-basic-multiple form-control may-contains-select" multiple="multiple" style="width: 100%;">
                      {% for tag in tags.contains %}
                      <option>{{ tag }}</option>
                      {% endfor %}
                    </select>
                    <div class="form-group">
                      <label class="control-label" for="other-content">other</label>
                      <input type="text" class="form-control" id="other-content" name="othercontent">
                    </div>
                  </div>
                  <div class="form-group col-xs-12">
                    <label class="control-label" for="date">Expiry date</label>
                    <input type="text" class="form-control" id="date" name="expirydate">
                  </div>
                  <div class="form-group col-xs-12">
                    <label for="description" class="control-label">Enter Description :</label>
                    <div>
                      <textarea class="form-control" rows="3" id="description" name="description"></textarea>
                      <span class="help-block">Max 500 character.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 zero-padding">
            <div id="item-map-section"></div>
            <script async defer
            src="//maps.googleapis.com/maps/api/js?key=AIzaSyCrh2cKWRAFifeLIkznE2Iw4Oblqlmyyt0&callback=initMap">
            </script>
          </div>
          <div class="col-xs-12 col-sm-6 zero-padding">
            <div class="item-address-section">
              <div class="form-group">
                <label for="inputLocation" class="col-md-2 control-label">Address</label>

                <div class="col-md-10">
                  <input type="text" class="form-control" id="inputLocation1" placeholder="Location : eg.4 The Sidings">
                  <input type="text" class="form-control" id="inputLocation2" placeholder="PostCode : eg.dh1 1hs">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zero-padding">
            <div class="item-btns-section">
              <div class="form-group zero-padding">
                <div class="btns">
                  <button type="button" class="btn btn-default">Cancel</button>
                  <button id="#submit-item" type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>

          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMWP9iC-OW_pO7U9VmkAbZf7uqJAJ4GQE">
  </script>
{% endblock %}

{% set jslist = ["plugins/isotope/isotope.pkgd.min.js","plugins/moments/moment-2.js","plugins/jquery-match-height/jquery.matchHeight.js",
"plugins/select2-4.0.3/select2.min.js","plugins/bootstrap-material-datetimepicker-gh-pages/bootstrap-material-datetimepicker.js",
"plugins/image-upload/jquery.upload.js","add-item.js", "plugins/barcode/quagga.min.js", "barcode.js"] %}

{% set csslist = ["plugins/select2-4.0.3/select2.min.css","plugins/bootstrap-material-datetimepicker-gh-pages/bootstrap-material-datetimepicker.css"] %}
