{% extends 'header.twig' %}

{% block title %}
    Your page title goes here! Please only put plain text here
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<div class="card-columns">
	{% for element in itemList %}
			<div class="card card-block card-inverse card-primary text-xs-center">
			<blockquote class="card-blockquote">
				<p>{{element.info}}</p>
				<footer>
					<small>
						Someone famous in <cite title="Source Title">{{element.sourceTitle}}</cite>
					</small>
				</footer>
			</blockquote>
		</div>
		<div class="card">
			<div class="itemView">
				<div class="item-background">
					<img src="{{element.itemPic}}"/>
				</div>
				<div class="item-header black-top">
					<ul>
						<li class="item-name">{{element.itemName}}</li>
						<li class="item-summary">{{element.itemDescription}}</li>
					</ul>
				</div>
				<div class="item-nav-btn">
					<button type="button" class="item-btn item-btn-send">
						<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					</button>
					<button type="button" class="item-btn item-btn-view">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</button>
				</div>
				<div class="item-footer black-bottom">
					<div class="user-sign">
						<img src="{{element.userPic}}" class="user-image"/>
						<p class="user-name">{{element.userName}}</p>
					</div>
					<div class="added-date">
						date added {{element.dateAdded}}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
{% set jslist = ["name your","custom js","files here"] %}