<div class="header title">
  {% if section == "recommendation" %}
    <h3>RECOMMENDATIONS  <small> - Items similar to those you've requested before (Based on Tags) </small></h3>
  {% elseif section == "prediction" %}
    <h3>PREDICTIONS  <small> - Items similar to ones {% if isUser %}you{% else %}the user{% endif %} may give away (Based on Tags) </small></h3>
  {% else %}
    <h3>{{section}}  <small> - THIS SHOULDN'T SHOW</small></h3>
  {% endif %}
</div>
<div class="container-fluid">
    {% if recommendationList|length < 4 %}
      <h4> Not enough data to generate this section </h4>
    {% else %}
  <div class="grid">
    <!-- need this for mosonry layout to work properly with bootstrap grid system -->
    <div class="grid-sizer col-xs-12 col-sm-6 col-md-3"></div>
      {% for item in recommendationList %}
      <div class="grid-item col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail zero-padding" id="{{item.listingID}}">
          <div class="caption">
            <div class="centerAll">
              <img src="{{item.userImg}}" class="user-image"/>
              <div class="user-details">
                <a class="user-name" href="#{{item.userID}}" id="{{item.userID}}">
                  {{item.userName}}
                </a>
                <div class="added-date">
                  {{item.addedDate}}
                </div>
              </div>
              <div class="road-distance">
                <i class="material-icons">place</i> {{item.postCode}}
              </div>
            </div>
          </div>
          <img src="{{item.imgURL}}" style="border-color: lightgrey;" />
          <div class="caption">
            <h3>{{item.itemName}}</h3>
            <div class="trans-info">
              <div><span>Quantity: </span><span class="quantity">{{ item.quantity }}</span></div>
            </div>
            <div class="nav-btns">
              <a href="#view" class="btn btn-primary" role="button" id="{{item.listingID}}">View</a>
              {% if isLoggedIn %}
                {% if item.isRequesting %}
                  <a href="#cancel-by-listing" class="btn btn-default" role="button" id="{{item.listingID}}">Cancel request</a>
                {% else %}
                  <a href="#request" class="btn btn-default" role="button" id="{{item.listingID}}">Request</a>
                {% endif %}
                <div class = "extra">
                  <a href="#watch" role="button" class="btn-watch lightgrey {% if item.isWatching %} watched {% endif %}" id="{{item.listingID}}"><i class="material-icons">visibility</i></a>
                  <a href="#message" role="button" class="btn-watch" id="{{item.listingID}}"><i class="material-icons">message</i></a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
    {% endif %}
</div>
