{% extends 'header.twig' %}

{% block title %}
{{ name }} | Wastetopia
{% endblock %}

{% block navbar %}
{% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<div id="main-container" class="page-height page-padding" data-listingID="{{ listingID }}">
  <div class="item-header">
    <div>
      <h1>{{ name }}</h1>
    </div>
    <div class="nav-btns">
      {% if isOwner != 1 and isLoggedIn == 1 %}
        {% if isRequesting != 1  %}
          <a href="#request" class="btn btn-primary" role="button">Request</a>
        {% else %}
          <a href="#cancel-by-listing" class="btn btn-primary" role="button">Cancel Request</a>
        {% endif %}
      {% endif %}
      {% if isLoggedIn == 1 %}
      <div class="dropdown btn-watch">
        <a data-target="#"class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">more_vert</i></a>
        <ul class="dropdown-menu dropdown-menu-right">
          {% if isOwner == 1 %}
          <li><a href="{{ config.ROOT_BASE }}/items/edit/{{ listingID }}" id="{{listingID}}">Edit Item</a></li>
          <li><a href="#renew" id="{{listingID}}">Renew Item</a></li>
          <li><a href="#remove" id="{{listingID}}">Delete Item</a></li>
          {% else %}
          <li><a href="{{config.ROOT_BASE}}/messages/conversation/{{listingID}}" role="button" class="btn-watch" id="{{listingID}}"><i class="material-icons">message</i> Send a message</a></li>
          <li><a href="#watch" role="button" class="btn-watch lightgrey {% if isWatched == 1 %}watched{% endif %}" id ="{{listingID}}"><i
            class="material-icons">visibility</i> Add to watch-list</a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="view-wrapper">
      <div class="panel panel-default">
        <div class="panel-body">
          {% if not active %}
          <div class="alert alert-info">
            <strong>Sorry, this item is no longer active. Chances are, some students have already eaten it :/ </strong>
          </div>
          {% endif %}
          {% if header.isLoggedIn != 1 %}
          <div class="alert alert-danger">
            <strong>To request this item, you must be a registered user. <a class="alert-link" href="{{ config.ROOT_BASE }}/register">REGISTER NOW</a></strong>
          </div>
          {% endif %}
          <div class="item-details col-md-12">
            <div class="item-description">
              <div class="container-fluid">
                <div class="row">
                  {% if type %}
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Type: </span>
                    {% for tag in type %}
                    <span class="label label-info">{{ tag.name }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% if dietary %}
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Suitable for: </span>
                    {% for tag in dietary %}
                    <span class="label label-info">{{ tag.name }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% if state %}
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">State:</span>
                    {% for tag in state %}
                    <span class="label label-info">{{ tag.name }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Quantity: </span>{{ quantity }}
                  </div>
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Expiry date: </span>{{ expires }}
                  </div>
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Pick up location: </span>{{ location.name }}
                  </div>
                  {% if contains %}
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">May Contain:</span>
                    {% for tag in contains %}
                    <span class="label label-danger">{{ tag.name }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="col-sm-12 zero-padding">
                    <span class="info">Description:</span>
                    <br>
                    {{ description }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-imgs col-sm-12 col-md-6">
            <div class="img-grid">
              {% set first_item = 'is-expanded' %}
              {% for img in images %}
              <div class="img-grid-item {{ first_item }}">
                <div class="img-grid-item-content">
                  <div class="item-img" style="background:url({{ img.url }})"></div>
                </div>
              </div>
              {% set first_item = '' %}
              {% endfor %}
            </div>
          </div>
          <div class="item-user col-sm-12 col-md-6">
            <div class="item-wrapper">
              <div>
                <div class="phrase">
                  This item was offered by
                </div>
                <div class="user">
                  <div class="user-image item-img" style="background:url('{{ user.image }}')"></div>
                  <div class="user-name">
                    {{user.name}}
                  </div>
                  <div class="popularity white">
                    <i class="material-icons white">grade</i> {{ user.popularity }}
                  </div>
                </div>
              </div>
              <a href="{{config.ROOT_BASE}}/profile/user/{{ user.id }}" class="btn btn-default btn-raised btn-offers">Check more offers <i class="material-icons">chevron_right</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% set jslist = ["plugins/isotope/isotope.pkgd.min.js", "view-item.js", "request-view-page.js"] %}
