{% extends 'header.twig' %}

{% block title %}
   {{ details.itemName }} | Wastetopia
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
    <div class="grid-body" style="padding-top: 60px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 zero-padding">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% set counter = -1 %}
                            {% for img in images %}
                                {% set counter = counter + 1 %}
                                <li data-target="#myCarousel" data-slide-to="{{ counter }}" {% if counter == 0 %}
                                    class="active" {% endif %}></li>
                            {% endfor %}

                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <!-- TODO: alt tags here for accessibility -->
                            <!-- Make the first item be active, but all others not be -->
                            {% set first_item = 'active' %}
                            {% for img in images %}
                                <div class="item {{ first_item }}">
                                    <img src="{{ img.Image_URL }}">
                                </div>
                                {% set first_item = '' %}
                            {% endfor %}
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 zero-padding">
                    <div class="item-details">
                        <div class="item-name">
                            {{ details.itemName }}
                        </div>
                        <div class="item-subTitle">
                            {% for tag in tags %}
                                <div class="tag-name">{{ tag.Name }}</div>
                            {% endfor %}
                        </div>
                        <div class="item-description">
                            <div class="container-fluid">
                                <div class="row">

                                        <!-- go through each of the category ids, getting the name, and then the type
                                        for the item !-->

                                    {% for tag in tags %}
                                        <div class="col-xs-12 col-sm-6 zero-padding">
                                            <span class="info">{{ tag.CategoryID }}</span> {{ tag.Name}}
                                        </div>
                                    {% endfor %}

                                    <div class="col-sm-12 zero-padding">
                                        <span class="info">Description:</span>
                                        <br>
                                        {% for tag in tags %}
                                            {{ tag.Description }}.
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-nav-btn">
                            <button type="button" class="item-btn">
                                <span class="glyphicon glms yphicon-send" aria-hidden="true"></span>
                                <p class="btn-text" >Request</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 zero-padding">
                    <div id="map"></div>
                    <script src="map.js"></script>

                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrh2cKWRAFifeLIkznE2Iw4Oblqlmyyt0&callback=initMap">
                    </script>
                </div>
                <!-- todo: delete this as it's pointless (messaging is better) -->
                <div class="col-sm-12 col-md-12 zero-padding">
                    <div class="item-FAQ">
                        FAQ
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 zero-padding">
                                    <ul>
                                        <li style="margin: 0 0 10px 0;">

                                            <div class="faq-user-img">
                                                <img src="food.jpg" class="faq-q"/>
                                            </div>
                                            <div class="tri">tri</div>
                                            <div class="question">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus eu lorem sit amet posuere?</div>
                                        </li>
                                        <li>
                                            <div class="user-sign">
                                                <img src="flowery.jpg" class="user-image faq-a"/>
                                                <span class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus eu lorem sit amet posuere.</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}