{% extends 'header.twig' %}

{% block title %}
    Search
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<!-- Create the search results window -->
<div class="search-advance" style="padding-top:65px;">
  <div class="btn-group zero-padding" id="filter-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter
      <span class="caret"></span></button>
      <ul id="filter-list" class="dropdown-menu" role="tablist" aria-multiselectable="true">
        <li role="tab">
          <div class="filter-category" id="radius-category">
            Search Radius
            <a role="button" data-toggle="collapse" data-parent="#filter-list" href="#radius-options" aria-expanded="true" aria-controls="radius-options"><i class="material-icons"></i></a>
          </div>
          <div class="filter-options collapse in" id="radius-options" role="tabpanel" aria-labelledby="dietary-category">
            <div class="container-fluid">
              <div class="slider shor" id="radius"></div>
              <div id="radius-output"></div>
            </div>
          </div>
        </li>
        {% for itemFilter in filters %}
        <li role="tab">
          <div class="filter-category" id="{{itemFilter.id}}-category">
            {{itemFilter.optionsCategory}}
            <a role="button" data-toggle="collapse" data-parent="#filter-list" href="#{{itemFilter.id}}-options" aria-expanded="true" aria-controls="{{itemFilter.id}}-options"><i class="material-icons"></i></a>
          </div>
          <ul class="filter-options collapse in" id="{{itemFilter.id}}-options" role="tabpanel" aria-labelledby="{{itemFilter.id}}-category">
            {% for option in itemFilter.options %}
            <li>
              <div class="form-group zero-padding">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="{{option.value}}" id="{{option.id}}"> {{option.value}}
                  </label>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="form-group zero-padding" id="sort-select">
      <label for="sort-options">Sort by</label>
      <select id="sort-options" class="form-control">
        <option value="distance">Distance</option>
        <option value="a-z">A-Z</option>
        <option value="z-a">Z-A</option>
        <option value="user-pop">User Popularity</option>
      </select>
    </div>
  </div>
</div>
<div id="filters-picked"></div>
  <div class="search-result">
      <div class="container-fluid">
        <div class="grid">
          <!-- need this for mosonry layout to work properly with bootstrap grid system -->
          <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
          {% for item in itemList %}
          <div class="grid-item col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail zero-padding" id="{{item.listingID}}">
              <div class="caption">
                <div class="centerAll">
                  <img src="{{item.userImg}}" class="user-image"/>
                  <div class="user-details">
                    <a class="user-name" href="#{{item.userID}}">
                      {{item.userName}}
                    </a>
                    <div class="added-date">
                      {{item.addedDate}}
                    </div>
                  </div>
                  <div class="road-distance">
                    <i class="material-icons">place</i> {{item.distance}}m
                  </div>
                </div>
              </div>
              <img src="{{item.imgURL}}" style="border-color: lightgrey;" />
              <div class="caption">
                <h3>{{item.itemName}}</h3>
                <div class="trans-info">
                  <div><span>Quantity: </span> {{ item.quantity }}</div>
                </div>
                <div class="nav-btns">
                  <a href="#view" class="btn btn-primary" role="button" id="{{item.listingID}}">View</a>
                  {% if isRequesting %}
                    <a href="#cancel-by-listing" class="btn btn-default" role="button">Cancel request</a>
                  {% else %}
                    <a href="#request" class="btn btn-default" role="button">Request</a>
                  {% endif %}
                  <a href="#watch" role="button" class="btn-watch {% if isWatching %} watched {% endif %}" id="{{item.listingID}}"><i class="material-icons">visibility</i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% set jslist = ["plugins/noUiSlider/noUiSlider.min.js", "plugins/wnumb-1.1.0/wNumb.js", "searchPage.js"] %}
