{% extends 'header.twig' %}

{% block title %}
    Messages | Wastetopia
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 zero-padding page-height">
            <div class="coversation-frame">
                <div id="conversation-header">
                    <div class="btn-group-sm centerAll">
                        <a type="button" id="goBack"><i class="material-icons">arrow_back</i></a>
                        <div class="centerAll user">
                            <img src="{{senderImage}}" class="user-image"/>
                            <div class="user-name">{{senderName}}</div>
                            <div id="conversation-id" style="display: none;">{{conversationID}}</div>
                        </div>
                        <div class="btn-group">
          								<a id="viewItem" class="dropdown-toggle" role="button" data-toggle="dropdown"><i class="material-icons">info_outline</i></a>
          								<div class="item-frame dropdown-menu dropdown-menu-right" aria-multiselectable="true">
                            {% if listingPanel.isActive %}
                            <div>The offer is </div>
          									<div class="default-pic" style="background-image: url({{listingPanel.defaultImage}})">
          									</div>
          									<div class="basic-info">
          										<div class="item-name">
          											{{listingPanel.itemName}}
          										</div>
          										<div class="description">
          											<span class="info">Expiry date: </span>{{listingPanel.expiryDate}}
          										</div>
          										<div class="description">
          											<span class="info">Pick up location: </span>{{listingPanel.location}}
          										</div>
          									</div>
          									<div class="goToView">
          										<button type="button" id="view" class="btn btn-default">View</button>
          									</div>
                            {% else %}
                              <h4>This item is no longer available</h4>
                            {% endif %}
          								</div>
          							</div>
                    </div>
                </div>

                <!-- HTML from MessageController.generateMessageDisplay($conversationID)-->
                <div id="message-location">
                    {{messages|raw}}
                </div>

                <!--Form with textarea and send button-->
                <div id="message-form">
      						<form>
      							<fieldset>
      								<div class="form-group zero-padding">
      									<div class="btn-div">
      										<button type="submit" id="sendBtn" class="btn btn-default btn-send-message">Send</button>
      									</div>
      									<div class="message-div">
      										<textarea id="message" rows="3" name="message"></textarea>
      									</div>
      								</div>
      							</fieldset>
      						</form>
      					</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% set jslist = ["MessagePage.js"] %}
