{% if isEmpty == 1 %}
<div class="noMessage">
	No messages to display.
</div>
{% else %}
<div class="container-fluid">
	<div class="row" id="messages">
	{% for conversation in conversationList %}
	<div class="grid-item col-xs-12 col-sm-6">
		<div class="grid-item-content">
			<div class="thumbnail" id="{{conversation.listingID}}">
				<div class="caption conversation">
					<div class="conv-user">
						<div class="user">
							<img src="{{conversation.userImage}}" class="user-image"/>
							<div class="user-name">
								{{conversation.userName}}
							</div>
						</div>
						<div class="conv-item">
							{% if giving == 1 %}requesting {% else %}offering {% endif %} <span class="item">{{conversation.item}}</span>
						</div>
					</div>
					<div class="conv-btns">
						<a role="button" id="deleteBtn" class="btn-watch">
							<i class="material-icons">delete</i>
						</a>
						{% if conversation.numUnread != 0 %}
						<div class="btn-watch">
							<span class="badge">{{conversation.numUnread}}</span>
						</div>
						{% endif %}
						<a role="button" id="{{conversation.listingID}}" class="btn-watch" href="{{ config.ROOT_BASE }}/messages/conversation/{{conversation.listingID}}">
							<i class="material-icons">arrow_forward</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	</div>
</div>
{% endif %}
