<div id = "profileContentWrapper" class="page-height" style="padding-top:230px;">
    <div class="user-profile jumbotron">
        <div class="user-img" style="background-image: url({{ userimage }});"></div>
        <div class="user-details">
            <div id = {{ userID}} class="user-name">
                {{ username }}
            </div>
            <div class="popularity">
                <i class="material-icons">grade</i> {{ userscore }}
            </div>
        </div>
        <div>
            <a href="#" class="btn btn-default" style="margin-bottom:0;" role="button">Report</a>
        </div>
    </div>
    <div class="tab-content user-stats zero-padding" style="padding-top:10px; background-color:transparent;" id="{{ isUser }}">
        {% if isUser == 1 %}
            {{ homeTab | raw }}

            {{ offersTab | raw }}

            {{ requestsTab | raw }}

            {{ watchlistTab | raw }}
        {% endif %}
        {{ listingTab | raw }}
    </div>
</div>