{% extends 'header.twig' %}

{% block title %}
    {{username}}
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
     <div class="page-height" style="padding-top:230px;">
    <div class="user-profile jumbotron">
      <div class="user-img"></div>
      <div class="user-details">
        <div class="user-name">
          {{username}}
        </div>
        <div class="popularity">
          <i class="material-icons">grade</i> {{userscore}}
        </div>
      </div>
      <div>
        <a href="#" class="btn btn-primary" style="margin-bottom:0;" role="button">Follow</a>
        <a href="#" class="btn btn-default" style="margin-bottom:0;" role="button">Report</a>
      </div>
    </div>
    <div class="tab-content user-stats zero-padding" style="padding-top:10px; background-color:transparent;">
      <div id="home" class="tab-pane fade in active">
        <div class="container-fluid">
          <div class="row">
            <a class="col-sm-4 col-xs-12" role="button" data-toggle="tab" href="#offers">
              <div class="tile">
                <div class="stat">
                  <div class="count">{{itemsOfferdCount}}</div>
                  <h4 class="zero-padding">Items offered</h4>
                </div>
                <div class="icon">
                  <i class="material-icons">chevron_right</i>
                </div>
              </div>
            </a>
            <a class="col-sm-4 col-xs-12" role="button" data-toggle="tab" href="#requests">
              <div class="tile">
                <div class="stat">
                  <div class="count">{{requestsMadeCount}}</div>
                  <h4 class="zero-padding">Requests Made</h4>
                </div>
                <div class="icon">
                  <i class="material-icons">chevron_right</i>
                </div>
              </div>
            </a>
            <a class="col-sm-4 col-xs-12" role="button" data-toggle="tab" href="#watchList">
              <div class="tile">
                <div class="stat">
                  <div class="count">{{watchlistCount}}</div>
                  <h4 class="zero-padding">Items in WatchList</h4>
                </div>
                <div class="icon">
                  <i class="material-icons">chevron_right</i>
                </div>
              </div>
            </a>
            <div class="col-sm-6 col-xs-12">
              <div class="tile">
                <!-- add graph here, you can refer to the profile folder it contains a template of examples -->
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="tile">
                <!-- add another graph here, you can refer to the profile folder it contains a template of examples -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="offers" class="tab-pane fade">
        <div class="title">
          <a role="button" data-toggle="tab"  href="#home"><i class="material-icons">chevron_left</i></a>OFFERS
        </div>
        <div class="container-fluid">
          <div class="grid">
            <!-- need this for mosonry layout to work properly with bootstrap grid system -->

            {% for item in offers %}
            <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="grid-item-content">
                <div class="thumbnail zero-padding">
                  <img src="{{item.imgURL}}" style="border-color: lightgrey;" />
                  <div class="caption">
                    <h3>{{item.itemName}}</h3>
                    <div class="nav-btns">
                      <a href="#" class="btn btn-primary" role="button">View</a>
                      <a href="#" class="btn btn-default" role="button">Edit</a>
                      <a href="#" role="button" class="btn-watch"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <div id="requests" class="tab-pane fade">
        <div class="title">
          <a role="button" data-toggle="tab"  href="#home"><i class="material-icons">chevron_left</i></a>REQUESTS
        </div>
        <div class="container-fluid">
          <div class="grid">
            <!-- need this for mosonry layout to work properly with bootstrap grid system -->
            <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
            {% for item in requestsMade %}
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        {{item.username}}
                      </div>
                      <div class="added-date">
                        {{item.dateAdded}}
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> {{item.distanceToUser}}
                    </div>
                  </div>
                </div>
                <img src="{{item.imgURL}}" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>{{item.itemName}}</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Cancel</a>
                    <a href="#" role="button" class="btn-watch" id="delete"><i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <div id="watchList" class="tab-pane fade">
        <div class="title">
          <a role="button" data-toggle="tab"  href="#home"><i class="material-icons">chevron_left</i></a>WATCHLIST
        </div>
        <div class="container-fluid">
          <div class="grid">
            <!-- need this for mosonry layout to work properly with bootstrap grid system -->
            <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
            {% for item in watchlist %}
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        {{item.username}}
                      </div>
                      <div class="added-date">
                        {{item.dateAdded}}
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> {{item.distanceToUser}}
                    </div>
                  </div>
                </div>
                <img src="{{item.imgURL}}" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>{{item.itemName}}</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Request</a>
                    <a href="#" role="button" class="btn-watch"><i class="material-icons">visibility</i></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  <script src="profile.js"></script>
  <script src="bootstrap-material-design-master/dist/js/ripples.min.js"></script>
  <script src="bootstrap-material-design-master/dist/js/material.min.js"></script>

  <script>
  $(function () {
    $.material.init();
  });
  </script>

{% endblock %}

{% set jslist = ["name your","custom js","files here"] %}
