<div id = "profileContentWrapper" class="page-height">
    <div class="user-profile jumbotron">
        <div class="user-img" style="background-image: url({{ userimage }});"></div>
        <div class="user-details">
            <div id = {{ userID}} class="user-name">
                {{ username }}
            </div>
            <div class="popularity">
                <i class="material-icons">grade</i> {{ userscore }}
            </div>
        </div>
        <div class="btn-nav">
            {% if isUser == 1 %}
                <a href="{{config.ROOT_BASE}}/items/add" class="btn btn-primary" role="button">Add Item</a>
                <div class="dropdown btn-watch">
                    <a data-target="#"
                       class="dropdown-toggle btn btn-default" data-toggle="dropdown">OPTIONS <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#upload-picture" id = "upload-picture">Change Picture</a></li>
                        <li><a href="#change-password" id = "change-password">Change Password</a></li>
                        <li><a href="#change-email" id = "change-email">Change Email</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="errorMessage"></div>
    <div class="tab-content user-stats zero-padding" style="padding-top:10px; background-color:transparent;" id="{{ isUser }}">
        {% if isUser == 1 %}
            {{ homeTab | raw }}
        {%  endif %}
            {{ listingsTab | raw }}
        {% if isUser == 1 %}
            {{ offersTab | raw }}

            {{ requestsTab | raw }}

            {{ watchlistTab | raw }}

            {{ analysisTab | raw }}
        {% endif %}

    </div>
</div>
