{% extends 'header.twig' %}

{% block title %}
WasteTopia
{% endblock %}

{% block navbar %}
{% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<div class="page-padding">
  <div class="container-fluid">
    <div class="jumbotron" >
      <h1>Welcome to <span>Wastetopia</span></h1>
      {% if isLoggedIn != 1 %}
      <p>Sharing is Caring <i class="material-icons">favorite</i></p>
      {% else %}
      <p>{{loggedMessage | raw}}</p>
      {% endif %}
      <p>
      {% if isLoggedIn != 1 %}
        <a class="btn btn-lg" href="{{ config.ROOT_BASE }}/login">Login</a>
        <a class="btn btn-primary btn-lg" href="{{ config.ROOT_BASE }}/register">Register now</a>
      {% else %}
        <a class="btn" href = "{{config.ROOT_BASE}}/profile"> View profile </a>
      {% endif %}
      </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="main-search-form">
        <div class="normal-search col-xs-12 col-sm-8">
          <div class="form-group search col-xs-12 col-sm-8">
            <label class="control-label" for="search">Search term</label>
            <input class="form-control" id="search" type="text">
          </div>
          <div class="form-group postcode col-xs-12 col-sm-4">
            <label class="control-label" for="postcode">Postcode</label>
            <input required class="form-control" id="postcode" type="text">
          </div>
        </div>
        <a class="btn btn-link btn-advanceS" data-toggle="collapse" href="#advanced-options" aria-expanded="false" aria-controls="advanced-options">advanced options</a>
        <div id="advanced-options" class="col-xs-12 col-sm-8 collapse">
          <div class="form-group search col-xs-12 col-sm-3">
            <label class="control-label" for="quantity">Quantity</label>
            <input class="form-control" id="quantity" type="number" min="0" max="50">
          </div>
          <div class="form-group search col-xs-12 col-sm-3">
            <label class="control-label" for="distance">Distance (km)</label>
            <input class="form-control" id="distance" type="number" min="0" max="50">
          </div>
          {% for itemFilter in filters %}
          <div class="form-group search col-xs-12 col-sm-6 selects">
            <label class="control-label filter-label" for="{{itemFilter.id}}" data-filtertype="{{itemFilter.type}}">{{itemFilter.optionsCategory}}</label>
            <select id="{{itemFilter.id}}" class="js-example-basic-multiple form-control" multiple="multiple" style="width: 100%;">
              {% for option in itemFilter.options %}
              <option value="{{option.value}}" id="{{option.id}}">{{option.value}}</option>
              {% endfor %}
            </select>
          </div>
          {% endfor %}
          <div class="form-group search col-xs-12 col-sm-6">
            <label class="control-label" for="sort">Sort by</label>
            <select id="sort" class="form-control">
              <option value="D">Distance</option>
              <option value="AZ">A-Z</option>
              <option value="ZA">Z-A</option>
              <option value="UR">User Popularity</option>
            </select>
          </div>
        </div>
        <div class="btn-search-div col-xs-12 col-sm-8">
          <button type="submit" value="Submit" class="btn btn-primary btn-search">
            <i class="material-icons">search</i> SEARCH
          </button>
        </div>
      </form>
      <div class="secondary-search-form"></div>
    </div>
  </div>
</div>
{% endblock %}

{% set jslist = ["plugins/select2-4.0.3/select2.min.js", "index.js"] %}

{% set csslist = ["plugins/select2-4.0.3/select2.min.css"] %}
